<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-3.3.1.min.js"></script>
    <link rel="manifest" href="manifesto.json" />
    <link rel="apple-touch-icon" sizes="57x57" href="./apps/">
    <link rel="apple-touch-icon" sizes="60x60" href="./apps/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./apps/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./apps/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./apps/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./apps/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./apps/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./apps/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./apps/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./apps/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./apps/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./apps/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./apps/img/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="jwRegister.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <title>
        <%= title %>
    </title>

    <script>
        $(document).ready(function () {

            $(".btn1").click(function () {
                $(".conteudo").slideToggle();

            });
            $(".btn2").click(function () {
                $(".conteudo2").slideToggle();

            });
            $(".btn3").click(function () {
                $(".conteudo3").slideToggle();

            });
            $(".btn4").click(function () {
                $(".conteudo4").slideToggle();

            });
            $(".btn5").click(function () {
                $(".conteudo5").slideToggle();

            });

        });
    </script>

</head>


<%- body %>


</html>