<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <title>
        <h1>
            <%= 'Cardápio' %>
        </h1>
    </title>
</head>

<body>
    <%- body %>
    <%- rodape %>
</body>

</html>