<body>

    <button class="btn1">Café da Manhã</button>
    <button class="btn2">X</button>

    <p> <strong> Café da Manhã </strong></p>
    <p>- Pão com manteiga<br>
        - Croassaint <br>
        - Bolo do dia <br>
        - Yougurte <br>
        - Suco do dia <br>
    </p>
</body>