<body>

    <div class="container">
        <button class="btn1">Café da Manhã</button>
        <div class="conteudo esconder">
            <h3>Café da Manhã </h3>
            <p>- Pão com manteiga<br>
                - Croassaint <br>
                - Bolo do dia <br>
                - Yougurte <br>
                - Suco do dia <br>
                - Bolo<br>
                - Tapioca <br>
            </p>
        </div>
        <br><br>

        <button class="btn2">Almoço</button>
        <div class="conteudo2 esconder">
            <h3> Almoço </h3>
            <p> - Arroz branco / á grega<br>
                - feijão carioca / preto <br>
                - Macarronada ao molho de salsicha <br>
                - Filé de frango <br>
                - Bife acebolado <br>
                - Picadinho <br>
                - Salada de maionese <br>
                - Salada Verde <br>
                - Tomate <br>
            </p>
        </div>
        <br><br>

        <button class="btn3">Jantar</button>
        <div class="conteudo3 esconder">
            <h3> Jantar </h3>
            <p> - Arroz branco / á grega<br>
                - feijão carioca / preto <br>
                - Escondidinho <br>
                - Filé de frango <br>
                - Carne Assada <br>
                - 2 tipos de Sopa <br>
                - Legumes <br>
                - Salada Verde <br>
            </p>
        </div>
        <br><br>

        <button class="btn4">Sobremesas</button>
        <div class="conteudo4 esconder">
            <h3> Sobremesas </h3>
            <p> - Frutas da Época<br>
                - Gelatina <br>
                - Arroz Docê <br>
                - Canjica <br>
                - Goibada <br>
                - Pudim <br>
            </p>
        </div>
        <br><br>

        <button class="btn5">Bebidas</button>
        <div class="conteudo5 esconder">
            <h3> Bebidas </h3>
            <p> - Refrigerante (Tubaína/Sukita/Taí/Soda/Pepis<br>
                - Cerveja (Skol/Antartica/Kaiser) <br>
                - Suco de máquina <br>
                - Caldo de cana<br>
                - Pitú <br>
                - Pirassununga 51 <br>
                - Cafezinho <br>

            </p>
        </div>
    </div>
    <br><br>
</body>