<div class="mapH">

    <h4>Principais pontos turísticos de São Paulo</h4>
</div>

<iframe src="https://www.google.com/maps/d/embed?mid=16m1GReMuZpP2uSabHhmAZEDxVnTwpVaf" width="300" height="460"></iframe>